*{
    box-sizing:border-box;
    font-family:poppins;
}
.screen-size{
   
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.screen-size > div{
    max-width:550px;
    min-width:549px;
    margin:5px;
    background-color:rgb(222, 240, 218);
}
.logo-nav{
    height:100px;
    display:flex;
    align-items:center;
    box-shadow:0px 2.9px 7.4px rgba(0,0,0,0.1);
    font-weight:800;
    font-style:italic;
    text-shadow:0px 2px 5px rgba(223, 11, 230, 0.959);
    -webkit-text-stroke: 0.5px;
}
.nav-logo{
    
    width:150px;
    height:80px;
   padding:5px;
   margin-left:26px;
   margin-right:50px;
    border-radius:20px;
    box-shadow: 0px 10px 10px 1px rgba(27, 211, 224, 0.788);
}
.g-img{
    display:block;
}
.g-img img{
    width:73px;
    height:93px;
    border-radius:12px;
    padding:0.1px;
    box-shadow:0px 2px 8px rgba(223, 11, 230, 0.959);
}
.grid-photo{
    margin:10px 20px;
    max-height:500px;
    padding:5px 30px;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    box-shadow: 0px 2.5px 8px rgba(245, 40, 166, 0.144)
}
.g-img:first-child{
    margin-top:50px;
}
.g-img:nth-child(2) img{
    height:70px;
}
.g-img:nth-child(3){
    margin:20px 0 0 0;
}
.g-img:nth-child(5){
    margin-top:20px;
}
.g-img:nth-child(6){
grid-column-start:0;
grid-column-end:3;
margin-top:-70px;
}
.g-img:nth-child(7){
    margin-top:-18px;
}
.g-img:nth-child(8){
    margin-top:-40px;
}
.g-img:nth-child(9){
    margin-top:-18px;
}
.grid-heading{
    margin:10px 0 0 10px;
    font-weight:600;
}
.grid-text{
    margin:0 0 0 10px;
    width:290px;
    font-weight:300;
}


.main-img{
    display:block;
    margin-top:-20px;
    margin-bottom:10px;
    width:175px;
    height:235px;
    border-radius:12px;
}
.card-top{
    margin:10px 0 0 10px;
}
.card-flex p{
    margin:0;
    font-size:14px;
}
.card-flex{
    margin-left:5px;
    display:flex;
    column-gap:10px;
}
.bullet{
    width:15px;
}
.dot{
    width:2px;
}
a{
    text-decoration:none;
}